/* for desktop */

$GreenBackground: #498c5f;
$Green: #399139;
$GreyBackground: #f2f2f2;
$GreyBorder: #808080;
$DarkGreyBorder: #4c4c4c;
$LightGreyBorder: #b2b2b2;
$Blue: #0037d4;
$LightBlue: #00bfff;

@mixin fontBasic {
  font-family: Arial, Meiryo, sans-serif;
  font-weight: normal;
  color: black;
}
@mixin marginBlock {
  margin: 0.8rem 0%;
}

body {
  @include fontBasic;
  margin: 0%;
  padding: 0%;
  background-color: $GreenBackground;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/* main */

main {
  background-color: $GreyBackground;
  margin: auto;
  padding: 2rem;
  max-width: 55rem;
  min-height: 100vh;
  /* page title */
  h1 {
    font-size: 1.6rem;
    font-weight: normal;
    margin-top: 0%;
    margin-bottom: 1.7rem;
    letter-spacing: 0.05rem;
    line-height: 1.9rem;
  }
  /* in-page navigation */
  nav {
    display: block;
    max-width: 22rem;
    background-color: white;
    padding: 0.1rem 0.5rem;
    border-radius: 0.5rem;
    ul,
    ol {
      margin: 0.7rem 0%;
      ul,
      ol {
        margin: auto;
      }
    }
  }
}

/* images */

img {
  border: 0.2rem solid white;
  cursor: pointer;
  width: 22rem;
  height: auto;
  vertical-align: top;
  background-color: white;
}
img.small {
  width: 12rem;
  height: auto;
}
img.vertical {
  width: auto;
  height: 17rem;
}
figure {
  @include marginBlock;
  display: table;
}
figcaption {
  text-align: center;
}

/* heading */

@mixin heading($color, $width, $padding, $size) {
  @include fontBasic;
  margin: 1.5rem 0%;
  border-bottom: $width solid $color;
  padding-bottom: $padding;
  font-size: $size;
}

h2 {
  @include heading($Green, 0.1rem, 0.7rem, 1.3rem);
  letter-spacing: 0.05rem;
}
h3 {
  @include heading(black, 0.1rem, 0.3rem, 1rem);
}
h4 {
  @include heading($GreyBorder, 0.1rem, 0.3rem, 0.9rem);
}

/* anchor position fix */
[id] {
  scroll-margin-top: 4rem;
}

/* paragraph */

p {
  @include marginBlock;
}
p.note {
  font-size: 85%;
}
p.caution {
  display: table;
  background-color: white;
  border: 0.1rem solid $Green;
  border-radius: 0.3rem;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  position: relative;
}
p.caution::before {
  content: "⚠";
  font-size: 1.5rem;
  position: absolute;
  left: 0.5rem;
}

/* hyperlink */

a[href] {
  color: $Blue;
  text-decoration: none;
}
a[href]:hover {
  color: $LightBlue;
}

/* keyword */

@mixin borderButton ($width) {
  border-bottom: $width solid $DarkGreyBorder;
  border-right: $width solid $DarkGreyBorder;
  border-top: $width solid $LightGreyBorder;
  border-left: $width solid $LightGreyBorder;
}

@mixin keyword {
  white-space: nowrap;
  font-weight: bold;
  padding: 0.05rem 0.2rem;
}

kbd {
  @include fontBasic;
  @include borderButton(0.1rem);
  @include keyword;
  font-weight: normal;
  background-color: white;
  margin: 0% 0.2rem;
}

strong {
  @include keyword;
}
abbr {
  @include keyword;
  cursor: help;
  text-decoration: none;
  border-bottom: dotted 0.1rem;
}

/* table */

@mixin borderTable {
  padding: 0.3rem 0.5rem;
  border: 0.05rem solid $GreyBorder;
  border-collapse: collapse;
}

table {
  @include marginBlock;
  @include borderTable;
}
td {
  @include borderTable;
}
th {
  @include borderTable;
  background-color: white;
  font-weight: bold;
  text-align: center;
}
table.center1col td:nth-child(1),
table.center2col td:nth-child(2) {
  text-align: center;
}

/* list */

ul,
ol {
  @include marginBlock;
  padding-left: 1.2rem;
  ul,
  ol {
    margin: auto;
  }
}

/* quote */

pre,
blockquote {
  @include marginBlock;
  display: table;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem silver;
}

/* input */

@mixin borderClickedButton ($width) {
  border: $width solid $GreyBackground;
}

button,
input[type="submit"] {
  @include borderButton(0.15rem);
  background-image: linear-gradient(white, white, #e9e9e9, #d4d4d4);
  padding: 0.3rem;
  border-radius: 0.2rem;
  cursor: pointer;
}
button:active,
input[type="submit"]:active {
  @include borderClickedButton(0.15rem);
}
textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 10rem;
}
