$GreenBackground: #498c5f;
$Green: #399139;
$LightGreen: #43ab43;
$GreyBackground: #f2f2f2;
$GreyButton: #dadada;
$GreyBorder: #808080;
$DarkGreyBorder: #4c4c4c;
$LightGreyBorder: #b2b2b2;
$Blue: #0037d4;
$LightBlue: #00bfff;