@use "color" as c;

@mixin fontBasic {
  font: {
    family: Arial, Meiryo, sans-serif;
    weight: normal;
    size: 0.9rem;
  }
  color: black;
}

@mixin marginBlock {
  margin: 0.8rem 0%;
}

@mixin heading($color, $width, $padding, $size) {
  @include fontBasic;
  margin: 1.5rem 0%;
  border-bottom: $width solid $color;
  padding-bottom: $padding;
  font-size: $size;
}

@mixin borderButton($width) {
  border: {
    bottom: $width solid c.$DarkGreyBorder;
    right: $width solid c.$DarkGreyBorder;
    top: $width solid c.$LightGreyBorder;
    left: $width solid c.$LightGreyBorder;
  }
}

@mixin borderClickedButton($width) {
  border: $width solid c.$GreyBackground;
}

@mixin keyword {
  white-space: nowrap;
  font-weight: bold;
  padding: 0.05rem 0.2rem;
}

@mixin borderTable {
  padding: 0.3rem 0.5rem;
  border: 0.05rem solid c.$GreyBorder;
  border-collapse: collapse;
}
