@use "mixin" as b;
@use "color" as c;

/* for mobile devices */

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    line-height: 1.4rem;
  }

  /* images */

  img {
    max-width: 85vw;
    height: auto;
    &.small {
      max-width: 60vw;
    }
    &.vertical {
      max-height: 65vw;
      width: auto;
    }
  }

  /* headings */

  h2 {
    padding-bottom: 0.4rem;
    font-size: 1.2rem;
    margin: 1.3rem 0;
  }
  h3 {
    @extend h2;
    padding-bottom: 0.3em;
    font-size: 1rem;
  }
  h4 {
    @extend h2;
    padding-bottom: 0.3em;
    font-size: 0.9rem;
  }

  /* anchor position fix */

  [id] {
    scroll-margin-top: 3rem;
  }

  /* quotes */

  blockquote,
  pre {
    max-width: 90%;
    overflow-x: auto;
    display: inline-block;
  }

  /* keyword */

  abbr[title] {
    outline: none;
    position: relative;
    /* onclick */
    &:focus::after {
      content: attr(title);
      font-weight: normal;
      font-size: 0.7rem;
      position: absolute;
      left: 0;
      bottom: -1.5rem;
      background-color: white;
      border: 0.05rem solid black;
      padding: 0.05rem 0.2rem;
      line-height: 1.1rem;
      z-index: 1;
    }
  }

  /* main */

  main {
    padding: 1rem;
    margin: auto;
    h1 {
      font-size: 1.4rem;
      font-weight: normal;
      margin-bottom: 0.5rem;
      line-height: 1.6rem;
    }
    nav {
      max-width: inherit;
    }
    p {
      overflow-x: auto;
    }
  }

  /* paragraph */

  p {
    &.caution {
      padding: 0.5rem 0.5rem 0.5rem 2.2rem;
    }
    &.caution::before {
      font-size: 1.3rem;
    }
  }
}
