/* for mobile devices */

@media only screen and (max-width: 768px) {

  /* responsive template */
 
  header {
   background-color: #498c5f;
   background-image: none;
  }
  header h1 {
   font-size: 1.4rem;
  }
  header h1 a[href] {
   color: #ffffff;
   text-shadow: none;
  }
 
  .menubar a[href] {
   display: none;
  }
  .menubar button {
   display: block;
   margin: 0%;
   padding: 0.3rem;
   border-radius: 0%;
   line-height: 1.4rem;
  }
  .menubar.responsive button {
  position: absolute;
  left: 0;
  top: 0;
  }
  .menubar.responsive a[href] {
  float: none;
  display: block;
  text-align: right;
  padding: 0.3rem;
  }
  .menubar:hover {
   box-shadow: none;
  }

  footer ul {
   font-size: 0.7rem;
  }

}
