@use "mixin" as b;
@use "color" as c;

/* template for mobile */

@media only screen and (max-width: 768px) {

  /* header */

  header {
    background: {
      color: c.$GreenBackground;
      image: none;
    }
    h1 {
      font-size: 1.4rem;
      a[href] {
        color: white;
        text-shadow: none;
      }
    }
  }

  /* menu bar */

  .menubar {
    a[href] {
      display: none;
    }
    button {
      display: block;
      margin: 0%;
      padding: 0.3rem;
      border-radius: 0%;
      line-height: 1.4rem;
    }
    &.responsive {
      button {
        position: absolute;
        left: 0;
        top: 0;
      }
      a[href] {
        float: none;
        display: block;
        text-align: right;
        padding: 0.3rem;
      }
    }
  }

  /* footer */

  footer ul {
    font-size: 0.7rem;
  }

  #prev,
  #next {
    padding: 0.5rem 0.7rem;
  }
}
