/* header (template) */

header {
    margin-top: 0%;
    padding: 0%;
    background-color: #000000;
    background-image: url(../images/background_header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    }
  
  header h1 {
    margin: 0%;
    padding: 1rem;
    font-family: Georgia, serif;
    font-size: 1.8rem;
    font-weight: normal;
    text-shadow:
    -0.05rem 0 black, 0 0.05rem black, 0.05rem 0 black, 0 -0.05rem black,
    0 0 0.3rem black;
    }
    header h1 a[href] {
    color: #ffffff;
    }
    header h1 a[href]:hover {
    text-shadow: none;
    color: #ffffff;
    }
  
  /* menu bar (template) */
  
  .menubar {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    background-color: #3d3d3d;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    }
  
  .body_basic #menu_basic,
  .body_tutorial #menu_tutorial,
  .body_transx #menu_transx,
  .body_iss #menu_iss,
  .body_apollo #menu_apollo,
  .body_ucgo #menu_ucgo,
  .body_mods #menu_mods,
  .body_misc #menu_misc {
    background-color: #43ab43;
  }
  
  .menubar a[href] {
    margin: 0%;
    white-space: nowrap;
    display: inline-block;
    padding: 0.7rem;
    color: #ffffff;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  
  .menubar a[href]:hover {
    color: #ffffff;
    background-color: #000000;
  }
  
  .menubar button {
    display: none;
  }
  
  /* footer (template) */
  
  footer {
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f2f2f2;
    border-top: 0.1rem solid #6c6c6c;
    text-align: center;
    max-width: 55rem;
  }
  
  footer ul {
    list-style: none;
  }
  
  /* modal for images */

img.modal-content {
    width: auto;
    max-width: 95%;
    cursor: default;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 3rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
  }
  
  /* The Close Button */
  .close {
    position: fixed;
    top: 1rem;
    right: 2rem;
    color: #f1f1f1;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* prev/next button (template) */
  
  #prev {
    float: left;
  }
  #next {
    float: right;
  }
  #prev, #next {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #43ab43;
    color: #ffffff;
  }
  
  #prev:hover, #next:hover {
    background-color: #dadada;
    color: black;
  }
  
  @media only screen and (max-width: 768px) {
  
    #prev, #next {
      padding: 0.5rem 0.7rem;
    }
  
  }
  